.book-consultation {
    display: column;
    max-width: 100%;
}

.booking-container{
    display: flex;
}

.service-details {
    flex: 1; 
    padding: 20px;
    background-color: #f8f8f8;
    justify-content: center; 
    align-items: center; 
}

.service-details h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.service-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-details input,
.service-details textarea {
    margin-bottom: 25px;
    padding: 10px;
    font-size: 16px;
    width:90%;
}

.service-details button {
    padding: 10px 20px;
    background-color: #236F21;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200px;
}

.service-details button:hover {
    background-color: #1C511A;
}

.service-details button:disabled {
    background-color: #999;
    cursor: not-allowed;
}