.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.about-us {
    margin: 40px;
    text-align: left;
    display: column
}
  
.about-us h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.about-paragraph {
    font-size: 24px;
    line-height: 1.2;
    text-indent: 40px;
    margin-bottom: 20px;
}

.about-paragraph bold {
    font-weight: bold;
}

@media only screen and (max-width: 950px) {
    .individual-profiles {
        margin-top: 100px;
        display: column;
        justify-content: center;
    }

    .profile {
        margin-left: 2.5%;
        width: 90%;
        height: 50%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 950px) {
    .individual-profiles {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
    }

    .profile {
        text-align: center;
        width: 40%;
        height: 50%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin-bottom: 100px;
    }
}

.profile img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    margin: 30px;
    border-radius: 4px;
}
  
.profile h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.profile p {
    text-align: left;
    text-indent: 20px;
    font-size: 20px;
    line-height: 1.2;
}