.header {
    background-image: url("../assets/backyard.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    white-space: no-wrap;
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}

.consultation {
    display: flex;
}

.consultation-content {
    font-size: 32px;
    color: #236F21;
    text-align: left;
    font-weight: bold;
}

.consultation-button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #236F21;
    color: #fff;
    font-size: 18px;
}