.header {
    background-image: url("../assets/backyard.jpg");
    background-size: cover;
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

.header h1 {
    white-space: no-wrap;
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}

.consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #236F21;
}

.consultation a {
    white-space: no-wrap;
    margin-right: 80px;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.consultation a:hover {
    color: #fff;
}
  
.consultation a::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.09s ease-in-out;
}
  
.consultation a:hover::after {
    transform: scaleX(1);
}


.consultation input {
    padding: 12px;
    font-size: 18px;
}

.consultation button {
    padding: 15px 30px;
    background-color: #003f0a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.consultation button:hover {
    background-color: #003307;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.reviews h1 {
    white-space: no-wrap;
    font-size: 5vw;
    font-weight: bold;
}

.review-slot-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin-right: 100px;
}

.review-slot-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin-left: 100px;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
.column-left {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-basis: 50%;
    min-width: 0;
    box-sizing: border-box;
    padding: 10px;
}

.column-right {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-basis: 50%;
    min-width: 0;
    box-sizing: border-box;
    padding: 10px;
}
  
@media (max-width: 900px) {
    .column {
      flex-basis: 100%;
    }
}

.quote {
    margin-top: 15px;
    font-size: 24px;
}