.navbar {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
  
.navbar .leftSide {
   flex: 75%;
   height: 100%;
   display: flex;
   align-items: center;
   font-size: 24px;
   color: #236F21;
   padding-left: 10px;
}
  
.navbar .leftSide a {
  font-size: 38px;
  font-weight: bold;
}

.navbar .leftSide img {
  width: 70px;
  padding-right: 15px;
}
  
.navbar .rightSide {
  flex: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: #236F21;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding-right: 0%;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #236F21;
  cursor: pointer;
  transform: scale(2);
}

@media only screen and (max-width: 950px) {
  .navbar .leftSide a {
    font-size: 28px;
  }
  .navbar .rightSide a {
    display: none;
  }
  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 950px) {
  .navbar .rightSide button {
    display: none;
  }
}

